.carousel .carousel-item {
    height: 500px;
  }
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.fm-bg {
    background-color: #acecc2;
}

.center {
    display: block;
    margin: auto;
}

.secciones {
    margin-top: 60px;
    margin-bottom: 60px;
}

.secciones-h {
    margin-bottom: 40px;
}

.hide-under{
    text-decoration:none;
}

.container2{
    background-color: white;
    overflow:hidden;
    padding: 0em;
    margin-left: auto;
    margin-right: auto;
}

.item{
    margin:1em;
    padding:100px;
    color:white;
    float:left;
}

