.carousel .carousel-item {
    height: 500px;
  }
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.fm-bg {
    background-color: #acecc2;
}

.center {
    display: block;
    margin: auto;
}

.secciones {
    margin-top: 60px;
    margin-bottom: 60px;
}

.secciones-h {
    margin-bottom: 40px;
}

.hide-under{
    text-decoration:none;
}

.titulo{
    color:black;
    text-shadow: 1px 1px #585858;
    text-align:center;
    margin-top: 40px;
}

a:link{
    color:rgb(65, 206, 147);
    text-decoration: none;
}

a:visited{
    color:rgb(65, 206, 147);
}

a:hover{
    color: black;
    text-decoration: underline;
}

ul{
    list-style: none;
}

.texto-alineado{
   margin-left: 20%;
   margin-right: 20%;
   text-align: justify;
}