body {
    font-family: Verdana, Arial, Tahoma, Serif;
}

.carousel .carousel-item {
    height: 500px;
}
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.fm-bg {
    background-color: #acecc2;
}

.center {
    display: block;
    margin: auto;
}

.secciones {
    margin-top: 60px;
    margin-bottom: 60px;
}

.secciones-h {
    margin-bottom: 40px;
}

.hide-under{
    text-decoration:none;
}

.titulo{
    color:black;
    text-shadow: 1px 1px #585858;
    text-align:center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.sub-titulo{
    color:black;
    text-shadow: 1px 1px #585858;
    margin-top: 50px;
}

a:link{
    color:rgb(65, 206, 147);
    text-decoration: none;
}

a:visited{
    color:rgb(65, 206, 147);
}

a:hover{
    color: black;
    text-decoration: underline;
}

a.btn-primary {
    color:rgb(231, 238, 235);
}

.texto-alineado{
   text-align: justify;
}

.ficha {
    margin-top: 15%;
}

.flotar-d {
    float:right;
}

.campo-ob {
    font-size: 12px;
    color: rgba(255, 0, 0, 0.712);
    margin-top: 10px;
}

.texto-checkbox {
    font-size: 12px;
}


/* Eliminar las flechas en el input type number para Chrome, Safari, 
Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Eliminar las flechas en el input type number para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}