{% extends 'layout.html' %}
{% load static %}

{% block contactanos_activo %}
  active
{% endblock contactanos_activo %}

{% block contenido %}
  <!-- Inicio de informacion -->
  <div class="container">
    <h1 class="titulo">CONTÁCTANOS</h1>
    <div class="texto-alineado">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <h4 class="sub-titulo">Datos de contacto</h4>
    <p>Teléfono: XXXXXXXXX<br>
      Whatsapp: XXXXXXXXX<br>
      Correo: adipiscing@ayudapeludos.cl <br>
      Instagram: @ayudaaunpeludo<br>
      Twitter: @ayudaaunpeludo<br>
      Facebook: ayudaaunpeludo
    </p>
  </div>
  <!-- Fin de informacion -->

  <!-- Inicio del formulario -->
  <div class="container">
    <h4 class="sub-titulo">Deja tus datos para contactarnos contigo</h1>
    <div class="row margenTop10">
      <form name="formulario" method="POST" id="formulario">
          <div class="form-group p-1 col-lg-6">
              <label for="nombre">Nombre<span class="campo-ob"> *</span></label>
              <input type="text" class="form-control" id="nombre" required name="nombre" placeholder="Ingrese su nombre completo">
              <div id="nombre-vacio" class="campo-ob">Debe ingresar un nombre.</div>
              <div id="nombre-inv" class="campo-ob">El nombre solo puede tener letras.</div>
          </div>
          <div class="form-group p-1 col-lg-6">
            <label for="edad">Edad<span class="campo-ob"> *</span></label>
            <input type="number" class="form-control" id="edad" min="13" max="100" required name="edad" placeholder="Ingrese su edad">
            <div id="edad-vacio" class="campo-ob">Debe ingresar una edad válida.</div>
            <div id="edad-inv" class="campo-ob">La edad debe ser mayor de 13 años.</div>
          </div>
          <div class="form-group p-1 col-lg-6">
              <label for="email">Correo electrónico<span class="campo-ob"> *</span></label>
              <input type="email" class="form-control" id="correo" required name="correo" placeholder="Ingrese su e-mail">
              <div id="correo-vacio" class="campo-ob">Debe ingresar un correo.</div>
              <div id="correo-inv" class="campo-ob">Ingrese un correo con el formato correo@correo.x</div>
          </div>

          <div class="form-group p-1 col-lg-6">
              <label for="num">Número de contacto<span class="campo-ob"> *</span></label>

              <input type="number" class="form-control" id="num" required name="phone" placeholder="9....">
              <div id="num-vacio" class="campo-ob">Debe ingresar un número de contacto.</div>
              <div id="num-inv" class="campo-ob">Ingrese un número válido. Debe incluir el 9.</div>
          </div>
          <div class="from-group p-1 col-lg-6">
            <label for="asunto">Asunto<span class="campo-ob"> *</span></label>
            <input type="text" class="form-control" id="asunto" required name="asunto" placeholder="Ingrese el asunto de su consulta">
            <div id="asunto-vacio" class="campo-ob">Debe ingresar el asunto.</div>
            <div id="asunto-inv" calass="campo-ob">El asunto solo puede tener letras</div>
          </div>
          <div class="from-group p-1 col-lg-6">
            <label for="text">Ingresa tu mensaje<span class="campo-ob"> *</span></label> <br>
            <textarea class="form-control" id="mensaje" placeholder="Ingrese su consulta acá" required></textarea>
            <div id="mensaje-vacio" class="campo-ob">Debe ingresar un mensaje.</div>
          </div>
          <p class="campo-ob">* Campos obligatorios.</p>
          <button type="submit" class="btn btn-primary secciones-h" id="btn-submit">Enviar</button>
      </form>
    </div>
  </div>
  <!-- Fin del formulario -->

  <!-- Inicio modal -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">¡Envío exitoso!</h5>
        </div>
        <div class="modal-body">
          Hemos recibido tu mensaje, te contactaremos en breve.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal -->
{% endblock contenido %}   
     
      

{% block scripts %}
  <script src="{% static 'js/scriptValContactar.js' %}"></script>
{% endblock scripts %}