{% extends 'layout.html' %}
{% load static %}
{% block adopta_activo %}
  active
{% endblock adopta_activo %}

{% block contenido %}
  <!-- Inicio de informacion -->
  <div class="container">
    <h1 class="titulo"> Gatos en Adopción </h1>
    <div class="texto-alineado">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>

    <h2 class="titulo"> Nuestros peludos que buscan un hogar: </h2>
    <div class="text-center"><img src="{% static 'img/ginger.jpg' %}"/></img></div>
    <div class="text-center secciones-h"><a href="/ginger">Ginger</a> </div>
  
    <div class="text-center"><img src="{% static 'img/tommy.jpg' %}"></img></div>
    <div class="text-center secciones-h"><a href="/tommy">Tommy</a> </div>

    <div class="text-center"><img src="{% static 'img/lucifer.jpg' %}"></img></div>
    <div class="text-center secciones-h"><a href="/lucifer">Lucifer</a> </div>
  </div>
  <!-- Fin de informacion -->
{% endblock contenido %} 