{% extends 'layout.html' %}
{% load static %}

{% block contenido %}
    <div class="container">
        <h1 class="titulo">Mascotas en adopcion de Ayuda a un Peludo</h4>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Nro Chip</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sexo</th>
                <th scope="col">Especie</th>
                <th scope="col">Edad</th>
                <th scope="col">Esterilizado</th>
                </tr>
            </thead>
            <tbody id="divTbody">
            </tbody>
        </table>
    </div>
{% endblock contenido %}

{% block scripts %}
<script>
    $(document).ready(function () {
            mostrar_mascotas();
    });

    function mostrar_mascotas() {
        $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "http://127.0.0.1:8000/api/lista_mascota",
                headers: {"Authorization":"Token 34454c30b7007a0402418145bf4489d4783a464e"},
                success: function (result) {
                    var cant_mascotas = result.length;
                    var estructuraDiv = "";
                    for (let i = 0; i < cant_mascotas; i++) {
                        estructuraDiv += "<tr>" +
                            "               <td>" + result[i].nro_chip + "</td>" +
                            "               <td>" + result[i].nombre + "</td>" +
                            "               <td>" + result[i].sexo + "</td>" +
                            "               <td>" + result[i].especie + "</td>" +
                            "               <td>" + result[i].edad + "</td>" +
                            "               <td>" + result[i].esterilizado + "</td>" +
                            "           </tr>";
                    }
                    $("#divTbody").html(estructuraDiv); 
                }
            });
    }
</script>
{% endblock scripts %}